.modal {
    position: fixed;
    display: block; 
    overflow: auto; 
    width: 100vw; 
    height: 100vh; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 999; 
    cursor: pointer;
  }
  
  .content {
    background-color: rgb(247, 247, 247);
    margin: 15% auto;
    border-radius: 0.25rem;
    width: 55vw;
    height: max-content;
    padding: 2rem;
    position: relative;
    color: black;
    align-items: center;
  }
  
  .content img {
    display: inline-block;
    width: 30%;
    border: 4px solid white;
  }
  
  .movie-details-text {
    padding: 10px;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.445);
    color: white;
    font-size: 100%;
    font-weight: bold;
    width: inherit;
    border-radius: 0.25rem;
  }
  
  .content button{
    float:right;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: rgba(68, 68, 68, 0.322);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    color: rgb(17, 7, 7);
  }
  
  #nom{
    font-size: 15px;
    float:left;
    background-color: rgb(182, 152, 54);
    position: relative;
  }
  
  .topDetails{
    position: absolute;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
  }