.nomContainer {
    background-color: rgba(94, 5, 5, 0.781);
    color: white;
    margin: 0px;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    animation: secFadeIn 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    
  }
  
  .submitResponse{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }

  @keyframes secFadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100;
    }
}